body {
  margin: 0;
}

/** App **/

.App {
  text-align: center;
}

/** --------------------------------------------- **/

/** App-logo **/

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/** --------------------------------------------- **/

/** App-header **/

.App-header, .App-home {
  background-color: #282c34;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header nav {
  height: 100px;
  color: whitesmoke;
  margin-bottom: 15px;
  text-align: center;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-header li {
  list-style: none;
  display: inline;
  padding: 2vh;
}

.App-header a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: white;
}

/** --------------------------------------------- **/

/** App-link **/

.App-link {
  color: #61dafb;
}

/** --------------------------------------------- **/

/** App-main-content **/

.App-main-content {
  background-color: whitesmoke;
  color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

/** --------------------------------------------- **/


/** App-todos **/

.App-todos {
  background-color: white;
  color: whitesmoke;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  margin: auto;
}

.App-todos h1 {
  color: #282c34;
  margin-bottom: 2vh;
}
/** --------------------------------------------- **/


/** App-todo-item **/

.App-todo-item {
  line-height: 40px;
  height: 48vh;
  width: 50vh;
  align-items: center;
  padding: 30px 20px 0;
  font-size: 18px;
  color: #333333;
  max-height: inherit;
}

/** --------------------------------------------- **/

/** App-products **/

.App-products {
  display: flex;
  padding:2em;
}

.card-body {
  display: flex;
  flex-direction: inherit;
}

.card-text--custom {
  min-height: 100px;
}

/** --------------------------------------------- **/

/** App-footer **/

.App-footer {
  color: white;
  background-color: #282c34;
  padding-top: 1vh;
}

.mention {
  padding-bottom: 2vh;
}

.App-footer li {
  list-style: none;
  display: inline;
  padding: 2vh;
}

/** --------------------------------------------- **/


.App-discover {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    justify-content: center;
    margin: 0;
    background: #282c34;
  }

  .social {
    list-style: none;
    text-align: center;
    margin: 96px;
  }
  .social_item {
    display: inline-block;
    margin: 0 12px;
  }
  .social_link {
    display: inline-block;
    width: 50px;
    height: 50px;
    overflow: hidden;
    text-align: center;
    transition: 0.5s;
    border-radius: 50%;
    overflow: hidden;
  }

  .social_link:hover {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  .social_link:active {
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
